@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
  margin-top: 83px;
  background-image: url('img/beta_2.png');
  /*background-color: rgba(174, 214, 241,0.2);*/


}

body h1{
  color: #060B42;
  margin-top: 5%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 150%;
}

body h3{
  color: rgba(174, 214, 241,0.7);
  margin-top: 0%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 2%;
}

body h4{
font-size: 80%;
font-family: sans-serif;arial;
}




/*Products_____________________________________________*/

.products-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.products-list .products-item{
  width: 23.5%;
  margin-left: 1.5%;
  margin-bottom: 25px;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  }

.products-list .products-item img{
  width: 100%;

}

.products-item img{
  width: 100%;
  height: 270px;
}

.products-list .products-item a{
  display: block;
  width: 100%;
  padding: 8px 0;
  /*background: #63f2e9;*/
  color: #000;
  text-align: center;
  text-decoration: none;
}


.slider{

  width: 95%;
  margin: auto;
  overflow: hidden;
}
.slider ul{
  display: flex;
  padding: 0;
  width: 400%;
  margin-top: 4.1%;

  animation: cambio 10s infinite;
  animation-direction:
}

.slider li{
  list-style: none;
}

.slider img{
  width: 100%;
  margin-right: 20px;
}


@keyframes cambio {
  0% {margin-left: 0;}
  20% {margin-left: 0;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  100% {margin-left: -300%;}
}


.slider2{

  width: 15.5%;
  height: 15%;
  margin: auto;
  margin-bottom: none;
  overflow: hidden;
}

.slider2 ul{
  display: flex;
  padding: 0;
  width: 400%;
  margin-top: 4.1%;
  animation: cambio 20s infinite;
  animation-direction:
}

.slider2 li{
  list-style: none;
}

.slider2 img{
  width: 100%;
  height: auto;
  margin-right: 0px;
}

.container__all{
    position: relative;
    right: 0;
    transition: all 300ms;
}

.container__all img {
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.container__all iframe{
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

header{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    transition: all 300ms;

}


.category_list{
  display: flex;
  flex-direction: column;
  width: 62%;
  margin: 4%;
  margin-left: 22%;
  font-size: 25px;
}

.category_list .category_item{
  display: block;
  width: 90%;
  padding: 15px 0;
  margin-bottom: 20px;
  background-color: rgba(174, 214, 241,0.5);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: center;
  text-decoration: none;
  color: #060B42;
}

.category_list .ct_item-active{
  background-color: rgba(80, 232, 235, 0.6); /*#7A991A;  cambia color de fondo a el bloque con el puntero */
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,25);
}




.move_content{
    right: 180px;
}

.container__header{
    display: flex;
    justify-content: space-between;
    margin: auto;

}

header .logo{

    display: flex;
    justify-content: center;
    align-items: center;
}



.container__nav{
    position: relative;

}

.menu{
  display: flex;
  display: block;
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
  color: #060B42;
  position: fixed;
  top: 0;
  transition: all 300ms;
  width: 100%;
}


nav ul{

    display: flex;
    width: 90%;
}

nav ul a{
    list-style: none;
    margin-right: 0%;
    width: 25%;
    height: auto;
    background-color: rgba(174, 214, 241,0.2);
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

nav ul a{
    color: black;
    font-size: 18px;
    text-align: center;

}

.select{
    background: #359EF9;
    color: white;
    border-radius: 20px;
}

.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #00000010;
    background: white;
}

.btn__menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background 300ms;
    display: none;
}

.btn__menu:hover{
    background: #f5f5f5;
}

/*COVER*/

.cover{
    font-family: 'Poppins', sans-serif;
}

.container__cover{
    /* margin: auto;*/

    display: flex;
    justify-content: space-between;
    position: relative;

   background-image: url(../images/background-cover.svg);
    background-size: cover;
    background-position: bottom;
}

.cover .container__info{
    z-index: 2;
}


.cover h1{
    font-size: 190%;
    padding-top: 60px;
    padding-left: 60px;
    /*font-weight: 900;*/
    color: #373737;
}

.cover h2{
    font-size: 60px;
    /*font-weight: 900;*/
    color: #FEBA0B;

}

.cover p{
    color: rgba(255, 255, 255, 0.85);
}

.cover input[type="button"]{

    font-size: 18px;
    font-weight: 600;
    border: none;
    color: white;
    background: #FEBA0B;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #20202049;
    cursor: pointer;
    transition: box-shadow 500ms;
}

.cover input[type="button"]:hover{
    box-shadow: 1px 1px 30px -5px #20202085;
}

.logo_pc{
  position: relative;
}

.logo_pc img{
  position: relative;
  animation: move_vector_pc 6s ease-in-out infinite;
  transition: all 300ms;
  margin-top: 1%;
}

@keyframes move_vector_pc {
    0%{
        transform: translateX(30px);
    }
    25%{
        transform: translateX(-30px);
    }
    100%{
        transform: translateX(30px);
    }
}







.container__vector{
    position: relative;
}

.container__vector img{
    position: absolute;

    animation: move_vector 6s ease-in-out infinite;
    transition: all 300ms;

}

@keyframes move_vector {
    0%{
        transform: translateY(10px);
    }
    25%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}

@media screen and (max-width: 920px){
    .container__vector img{
        width: 500px;
    }
}


@media screen and (max-width: 760px){

    .container__nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn__menu{
        display: flex;
    }


    nav{
      justify-content: left;
      align-items: left;
      position: fixed;
      transition: all 300ms;

    }

    .move_nav{

    }

    nav ul{
      width: 300px;
    }

    nav ul li{
      margin-right: 0%;
      height: 50px;

    }

    nav ul li a{
        color: black;
        font-size: 10px;
    }

    .container__vector img{
        transform: scale(0);
        animation: none;

    }

}


/****************************/

/*¡NO TOCAR CODIGO DE AQUÍ DEBAJO!*/


/*MUESTRA*/


@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-esqueleto:#EFF3F5;
}


.container__article{

    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.1);
}



.container__article img{
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}

.container__article .box__article{

    background: var(--color-esqueleto);


  /*  background-image: url("../Images/tarj.png");
    box-shadow: 1px 1px 30px -5px #20202049;
    color: #0000;  /*color de letras portafolio
      text-shadow: 1px -1px 1px rgba(50, 50, 50, 1);;*/
    background-color: rgba(174, 214, 241,0.0);
    font-family: 'Poppins', sans-serif;
    text-align: justify;

    font-weight: 600;
    border: none;
    color: #222121;

    border-radius: 20px;


}

.container__article_pas .box__article_pas{


    background: var(--color-esqueleto);


  /*  background-image: url("../Images/tarj.png");
    box-shadow: 1px 1px 30px -5px #20202049;
    color: #0000;  /*color de letras portafolio
      text-shadow: 1px -1px 1px rgba(50, 50, 50, 1);;*/
    background-color: rgba(255, 255, 250, 0.0);
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-weight: 600;
    border: none;
    color: #222121;



}

.container__article_pas .box__article_pas h2{


}

.container__article_pas .box__article_pas h3{
font-size: 5px;

}



.container__article .box__article img{

    text-align: center;
}


/*AQUI COMIENZA EL FOOTER*/

footer{

    font-family: 'Nunito', sans-serif;
    *background-color: var(--color-esqueleto);
    background-image: url("../Images/fondo_cpr.png");
    background-size: cover;

    /*webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.box__footer{
    display: flex;
    flex-direction: column;

}

.box__footer .logo img{

}

.box__footer .terms{

    color: rgba(10, 10, 10, 0.8);
    font-size: 18px;

}

.box__footer h2{

    color: rgba(10, 10, 10, 0.8);
    font-weight: 700;
}

.box__footer a{

    color: rgba(30, 30, 30, 0.8);
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{

    text-align: center;

}

.box__copyright p{

    color: rgba(255, 255, 255, 0.8);
}

.box__copyright hr{
    border: none;

    background-color: #7a7a7a;
}
